---
layout: default
---

<div class="home">
<h1>{{ site.description }}</h1>
</div>


    {% for work in site.work %}
{% if work.categories contains 'hero' limit:3 %}
  <div class="post-list">

    <div class="post-img">

      <img src="/uploads/{{ work.img }}">


    </div>

    <div class="post-copy">

        <h2>
          <a class="post-link" href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a>
        </h2>

        <p>
        {{ work.excerpt }}
        </p>

      </div>

  </div>
  {% endif %}
{% endfor %}

    <div class="archive-list">
      <h1 class="page-heading">Archived Blog Posts</h1>
{% for post in site.posts limit:10  %}


     <li class="archive-item">
       <h2><a class="archive-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
       <a class="archive-date" >{{ post.date | date: '%B %Y' }}</a>
     </li>





{% endfor %}
</div>
