---
layout: default
---

<div class="home">
<h1>{{ site.description }}</h1>
</div>

<h1 class="page-heading">Recent Work</h1>

    {% for work in site.work %}
{% if work.categories contains 'hero' limit:2 %}
  <div class="post-list">

    <div class="post-img">

      <img src="/uploads/{{ work.img }}">


    </div>

    <div class="post-copy">

        <h2>
          <a class="post-link" href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a>
        </h2>

        <p>
        {{ work.excerpt }}
        </p>

      </div>

  </div>
    {% endif %}


  {% if work.archive contains 'archive' limit:10 %}
    <div class="archive-list">
    <div class="archive-content">
   <h1> <a href="{{work.url}}" class="title">{{work.title}}</a></h1>
      <div class="archive-date">
    <h3> {{work.date | date: "%m. %d. %Y"}}</h3>
      </div>

  </div>

    </article>
      {% endif %}
  {% endfor %}
