<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">Peter Hironaka</a>
 <nav  id="toggle" class="button_container">
   <div class="right" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

   </nav>
    <div id="overlay" class="overlay">
        <div class="wrapper">
          <nav class="overlay-menu">
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/resume">Resumé</a></li>
              <li><a href="/">Projects</a></li>

            </ul>
          </nav>
        </div>
  </div>

</header>
