<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><img src="/img/pj-logo-2.svg"></a>

    <div id="overlay" class="overlay">
          <nav class="overlay-menu">
            <ul>
              <li><p> Welcome to Miru. A fun, quirky travel blog dedicated to good times and excellent adventures. </p></li>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/blog">Posts</a></li>
              <li><a href="/destinations">Destinations</a></li>
              <li><a href="/blog"><img src="/img/twitter.svg"></a></li>
            </ul>
          </nav>
        </div>
  </div>

</header>
