/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    color: $brand-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    background-color: #fff;
    line-height: 1.5;
    font-size: 1em;
    font-weight:$base-font-weight;
}

hr {
  margin: 2em 0;
}

p {
    a {
        border-bottom: 1px solid #333;
        padding: 5px 0;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */


li {
    list-style: none;
    > ul,
    > ol {
         margin-bottom: 0;

    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}


h1 {
  font-size: 2em;

     @media screen and (max-width: $break-small) {
    font-size: 1.4em;
    }
}

h2.archive__month {
  @include span-columns(3);
    font-weight: 900;
    font-size: 1.2em;
    border-top: 2px solid #eee;
    padding-top: 1em;

    @media screen and (max-width: $break-small) {
    width: 100%;
    float: none;
    }
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        text-decoration: none;
    }

}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: 63em;
margin-left: auto;
margin-right: auto;
margin: 0 auto;
height: 100%;
position: relative;
padding: 0 2.55555em;
overflow: hidden;
@media screen and (max-width: $break-small) {
      padding: 0 1.55555em;
}
}


/**
 * Home-Intro
 */
.home {
  padding: 0 0 4em;
  @include outer-container;

@media screen and (max-width: $break-small) {
      margin: 1em 0 1em;
}

  img {
    @include span-columns(10);
    @include shift(1);
    margin-bottom: 4em;
    padding: 0 4em 2em 4em;
            @media screen and (max-width: $break-small) {
      padding: 0 ;
        }
    }
  p {
    @include span-columns(10);
    @include shift(1);
  line-height: 1.5em;
  font-weight: $base-font-weight;
  font-size: 1.6em;
  text-align: center;



  @media screen and (max-width: $break-small) {
    @include span-columns(12);
    font-size: 1.3em;
    line-height: 1.5;
    margin-left: 0;
  }

 }

 a {

    @include span-columns(10);
    @include shift(1);
  line-height: 1.5em;
  font-weight: $base-font-weight;
  text-align: center;
   font-size: 1.6em;

  @media screen and (max-width: $break-small) {
    @include span-columns(12);
    font-size: 1.3em;
    line-height: 1.5;
    margin-left: 0;
  }
 }

 h1 {
 text-align: center;
    &:after {
        width:10px;
        height: 2px;
        color: black;
    }
      @media screen and (max-width: $break-small) {
    font-size: 1.3em;
    line-height: 1.5;
    margin-left: 0;
  }
 }

 &__intro {
  @include outer-container;
 }

 &__work {
 @include outer-container;
    margin: 2em 0;

  
 }

 &__archives {
   @include outer-container;
 }

  }

h1.page-heading {

    @media screen and (max-width: $break-small) {
      font-size: 1.7em;
    }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;


    }
}
