
/* Header */

header{
 width: 100%;
z-index: 100;
max-width: 100%;
margin-left: auto;
margin-right: auto;
display: block;
    margin-bottom: 3em;

    a.index {
      padding: 1em 0;
position: relative;
display: inline-block;
    }
  }

@include direction-context(right-to-left) {
  nav {
    position: relative;
    font-weight: 300;
    @include span-columns(9);

        ul {
          li {
            @include span-columns(1);
            margin: 1em 2em;
            @media screen and (max-width: $break-small) {
            float: left;
            margin: 1em 4em 0 0;
            }
          }
        }

    @media screen and (max-width: $break-small) {
    width: 100%;
    margin: 0;

    }

}


  }


@keyframes fadeInRight {
  0% {
    opacity: 0;
    bottom: 30%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.team-member {
      border-bottom: 1px solid #eee;
      padding: 0 0 1em ;

}

.site-title{ font-size: 1.2em; }

.is-current-page{
  color: #999;
  pointer-events: none;
}


.menu {
  font-size: 18px;
    visibility: hidden;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 2em;
    position: fixed;
    list-style: none;
    padding-left: 0;
    text-align: center;
    background: rgba(242, 242, 242, 0.99);
    opacity: 0;
    transition: .2s all linear;
    z-index: 21;

  li.social {
     float: left;
     display: block;
     margin-right: 2.35765%;
     width: 48px;
     margin: 1em 0px;
      a {
  margin: 4.35765%;      }
   }

  li{
    margin-bottom: 1em;
padding: 1em;
display: inline-table;
position: relative;

    h3 {
      text-align: left;
    }

    	p {
			text-transform:none;
			@include span-columns(8);
			@include shift(2);
		}
    a{
      text-decoration: none;
    }
  }
}

.nav-toggle-label--active{

  span{
    opacity: 0;
  }
  &:before{

    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
  }
  &:after{
    transform: rotate(45deg);
    position: absolute;
    top: 50%;

  }
}
