/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    margin:2em 0;
    float: left;
    width: 13em;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 25px;
                height: 25px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
@include direction-context(right-to-left) {
        .social {
          @include span-columns(6);
          text-align: right;

          ul {
            @include span-columns(11);

            li {
              display: inline;
              margin: 0 .7em;

              @media screen and (max-width: $break-small) {
                  margin: 0 .4em;

              }
            }
          }
        }
  }

  h5 {
      @include span-columns(5);
  }
       span {
         color: red;
       }

}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}




/**
 * Page content
 */
.page-content {
    padding: 0;
}

.post-list {
@include outer-container;
margin-bottom: 1em;

}

.post-img {
    @include span-columns(6);
}
.post-copy {
  @include span-columns(5);
  padding: 0 1em;

    h2 {
      font-weight: $header-font-weight;
      font-size: 1.3em;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.archive-page-header {
  @include outer-container;

  p {
    @include span-columns(9);
    padding: 0 0 4em;
  }
}

.archive-list {
  @include outer-container;

  margin: 4em 0;
  @media screen and (max-width: $break-small) {
    margin: 2em 0;

  }
}

 @include direction-context(right-to-left) {

.archive-item {
    @include span-columns(7);
  text-decoration: none;
  list-style: none;
  border-top: 2px solid #eee;
padding: 15px 0;

@media screen and (max-width: $break-small) {
width: 100%;
float: none;
border: none;
margin: 0;

}

    h2 {
      font-size: 1.11em;
      margin-bottom: 0;

    }
    .archive-date {
      @include span-columns(2);
        color: $text-color;



    }
}

.archive-item:first-child {
      border-top: 1px solid #eee;
}
}

/**
 * Posts
 */

 .post {
   @include outer-container;
 }

.post-header {
  @include span-columns(12);
    margin-bottom: $spacing-unit;
}

.post-title {
    border-top: 1px solid #eee;
    font-size: 2em;
    padding-top: 1em;
}

.post-content li {

          color: #666;
          margin: .5em 0;

}

.post-content, .work-content {
  @include span-columns(9);
    margin-bottom: $spacing-unit;
    @media screen and (max-width: $break-small) {
    width: 100%;
    float: none;
    border: none;
    margin: 0;

    }

    h1 {
      margin: 1em 0 ;

      @media screen and (max-width: $break-small) {
        font-size:1.5em;


      }

    }

    p {
      margin: 2em 0;
    }

    h2 {
      font-size:1.5em;
      font-weight: 600;
    }

    h3 {
      font-size:1.2em;

    }

}

.pagination {
  @include outer-container;
  text-align: left;
    li {
      display: inline;
      padding-right: 3em;
    }
}
