<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <footer class="site-footer">
        <div class="wrapper">
    <h5>  Built with <span>	&hearts; </span> in Venice</h5>
      </div>
    </footer>

  </body>


  <script src="/js/all.js"></script>
  <script src="/js/exampleUsage.js"></script>
  <script>
  $('.right').click(function() {
     $(this).toggleClass('active');
     $('#overlay').toggleClass('open');
    });
  </script>

</html>
