---
layout: default
---

  <div class="post-content__page">
    <img src="/uploads/space-pic.jpg">
<div class="post-content__page--content ">
  {{ content }}

</div>
  </div>
<!-- {% if page.title == 'Work' %}
<h2>Work 2013-Present</h2>

  {% for work in site.work  %}

  <div class="post-list">
    <div class="post-list__image">
    <img src="{{work.image}}" alt="{{work.title}}">
  </div>

    <div class="post-list__content">
  <h2>
  <a class="post-link" href="{{ work.url }}">{{ work.title }}</a>
  </h2>
  <span> {{work.date | date: '%B %d, %Y'}} </span>
  {{ work.excerpt }}
  <a href="{{ work.link }}">Visit >></a>
  </div>
  </div>
  {% endfor %}



{% endif %} -->
